.nav-movie{
    background: rgba(240, 243, 245, 1);
    margin-bottom: 40px;
}
.nav-wrap{
    border-bottom: 1px solid #d1d1d1;
    padding: 10px 0
}
.nav-logo{
    margin-right: 15px;
}
.nav-logo a{
    display: block;
    width: 145px;
    height: 56px;
    text-align: center;
    line-height: 56px;
}
.nav-logo a img{
    vertical-align: middle;
}
.nav-search{
    padding: 10px 0;
}
.nav-search .nav-search-input{
    width: 470px;
    height: 34px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.nav-search .nav-search-submit{
    width: 50px;
    height: 34px;
    background: rgba(145, 154, 166, 1);
    border: none;
    color: #ffffff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.nav-items{
    padding: 10px 0;
}
.nav-items li{
    float: left;
}
.nav-items li a{
    color: rgba(34, 119, 170, 1);
    font-size: 12px;
    padding: 0 10px;
}
.nav-items li a.active{
    background: #27a;
    color: #ffffff;
}