*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5{
    font-weight: normal;
}
input[type="text"]{
    border: 1px solid #f1f1f1;
    transition: box-shadow .3s;
    outline: none;
    box-sizing: border-box;
    padding-left: 8px; 
}
input[type="text"]:focus{
    border: 1px solid #49b2f3;
    box-shadow: 0 0 3px 0px #49b2f3;
}
