.hotLink{
    padding: 12px 18px;
    background: #f2f7f6;
    border-radius: 4px;
    margin-bottom: 20px;
}
.hotLink h2{
    font-size: 14px;
    color: #072;
}
.hotLink p{
    margin-top: 4px;
}
.hotLink p a{
    color: #666699;
    font-size: 12px;
}