.filter{
    margin-bottom: 30px;
}
.filter .tags{
    margin-bottom: 10px;
}
.filter .tags a{
    font-size: 14px;
    color: #333333;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 6px;
    padding: 4px 10px;
    border-radius: 4px;
}
.filter .tags a.active{
    background: #27a;
    color: #ffffff;
}
.tool{
    border-top: 1px solid #dddddd;
    padding-top: 10px;
}
.tool .sort{
    float: left;
}
.tool .sort label,.tool .check label{
    margin-right: 10px;
    font-size: 12px;
    color: #666666;
    vertical-align:middle;
    cursor: pointer;
}
.tool .sort label input, .tool .check label input{
    vertical-align:middle;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.tool .check{
    float: right;
}